.nav-btn {
    background-color: #eeeeee;
    color: #181818;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 5px 11px;
    margin: 3px;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: #c0c0c0;
        color: #080808;
    }

    &.active {
        background-color: #c0c0c0 !important;
        color: #2c2c2c !important;
    }

    &.inactive {
        background-color: #eeeeee;
    }
}